* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oldenburg", serif;
}
body {
  background: rgb(245, 197, 133);
}
/* header styles */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}
.header-title {
  margin: 30px 0px 5px 0px;
  font-size: 50px;
  font-weight: bold;
}
.header-icon {
  width: 60px;
}
/* message page styles */
.messages-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.messages-page a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #000;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  height: 35px;
  width: 12%;
  background-color: rgba(255, 195, 116, 0.797);
}
.messages-page a:hover {
  background-color: black;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.messages-page a:active {
  transform: translateY(-1px);
}
/* message card styles */
.message-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #2e2e2f;
  background-color: #ffffff;
  padding: 20px;
  border: 3px dashed transparent;
  margin: 1.2rem 0;
  width: 350px;
  min-height: 200px;
  clip-path: polygon(
    40px 0%,
    100% 0,
    100% calc(100% - 40px),
    calc(100% - 40px) 100%,
    0 100%,
    0% 40px
  );
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.message-card p:nth-child(1) {
  font-weight: bold;
}
.message-date {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 10px;
}
.message-date img {
  width: 30px;
}
.message-card p {
  margin-bottom: 30px;
  word-break: break-word;
  margin-top: 5px;
}
.message-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.message-card-footer a {
  width: 25%;
}
.message-like {
  display: flex;
  gap: 5px;
}
.fa-solid {
  font-size: 20px;
}
.like {
  cursor: pointer;
}
/* message form styles */
.form-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.form-page hr {
  width: 50%;
  border: none;
  border-top: 1px solid rgb(222, 136, 50);
}
.message-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
  font-size: 1.2rem;
  color: black;
  gap: 5px;
  justify-self: center;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
}
.message-form input,
.message-form textarea {
  color: black;
  padding-left: 2%;
}
.message-form input {
  height: 50px;
}
.message-form textarea {
  height: 120px;
  padding-top: 2%;
}
#submit-button {
  align-self: center;
  font-weight: bold;
  color: #000;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 8px 15px rgb(0, 0, 0);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  height: 40px;
  width: 20%;
  margin-top: 15px;
  background-color: rgba(255, 195, 116, 0.797);
}
#submit-button:hover {
  background-color: black;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
#submit-button:active {
  transform: translateY(-1px);
}
/* message details styles */
/* .message-details {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  border-left: solid rgb(59, 67, 131) 8px;
  padding: 2%;
  width: 80%;
  font-size: 1.5rem;
  gap: 10px;
  word-break: break-word;
  margin-top: 70px;
} */
.message-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  min-height: 200px;
  justify-self: center;
  border: rgb(218, 134, 54) 1px solid;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 2%;
}
.message-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 13px;
  margin-bottom: 10px;
}
.message-top :nth-child(1) {
  font-weight: bold;
  overflow-wrap: anywhere;
}
.message-top :nth-child(2) {
  font-size: 13px;
}
.message-details :nth-child(3) {
  padding: 5%;
  overflow-wrap: anywhere;
}
.message-details :nth-child(4) {
  text-align: end;
  width: 100%;
  font-size: 13px;
  font-style: italic;
}
.message-details hr {
  width: 100%;
  border: none;
  border-top: 1px solid rgb(180, 96, 12);
}
/* not found page styles */
.notFoundPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.notFoundPageContainer img {
  width: 350px;
}
.notFoundPageContainer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.notFoundPageContainer div span:first-child {
  font-weight: bold;
  font-size: 2rem;
}
.notFoundPageContainer div span:nth-child(2) {
  font-size: 7rem;
}
.notFoundPageContainer div span:nth-child(3) {
  font-weight: bold;
}
.button {
  text-align: center;
  padding: 3%;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 20px;
  width: 40%;
  font-size: 12px;
}
.button:hover {
  background-color: rgba(47, 162, 203, 0.3);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-7px);
  color: white;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.button:active {
  transform: translateY(-1px);
}
.notFoundPageContainer a {
  text-decoration: none;
}
/* 
user bold
better naming form message text  
add not found page
clean logic code 
*/
